<h1>Welcome to  Some-Kind-Of-Fantastic RPG</h1>
<h3>Prepare yourself to embark on an unforgettable journey!<br> Use the form below to enter in the name, and race of your character!</h3>
<hr>
<div class="row">
  <div class="col-sm-6">
    <h2>New Player</h2>
    <label>Name:</label>
    <input class="form-control" #newName><br>
    <label>Choose your race:</label>
    <select #selectRace>
     <option value="human">Human</option>
     <option value="elf">Elf</option>
     <option value="gnome">Gnome</option>
     <option value="dragonborn">Dragonborn</option>
    </select><br>
    <button class="btn" (click)="playerCreate(newName.value, selectRace.value)">Create Player</button>
  </div>
  <div class="col-sm-6">
      <h3>select your character</h3>
      <select *ngFor="let player of players | async" #characterSelect>
        <option value={{player.name}}>{{player.name}}</option>
      </select>
    <div *ngIf="currentPlayer">
      <h1>Welcome {{currentPlayer.name}}, the {{currentPlayer.race}}! You have {{currentPlayer.points}} points, don't lose them.</h1>
      <a routerLink="scenario"><button class="btn">Begin!</button></a>
    </div>
  </div>
</div>
